# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [6]:
# get a list containing the last 3 elements of a
x = a[len(a)-3:len(a):1]
print(x)
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

[4, 5, 6]

In [7]:
# create a list of numbers from 1 to 20
numbers_list = list(range(1, 21))

In [10]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
y = []
for i in range(100):
    if(i%2 == 0):
        y.append(i)

print(y)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [14]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def func(x,y):
    return x/y

print(func(2,1))

2.0

In [17]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1,31):
    if(i%3 == 0 & i%5 == 0):
        print("fizzbuzz")
    elif(i%3 == 0):
        print("fizz")
    elif(i%5 == 0):
        print("buzz")
    else:
        print(i)

1
2
fizzbuzz
4
buzz
fizzbuzz
7
8
fizzbuzz
buzz
11
fizzbuzz
13
14
fizzbuzz
16
17
fizzbuzz
19
buzz
fizzbuzz
22
23
fizzbuzz
buzz
26
fizzbuzz
28
29
fizzbuzz

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}

In [19]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd

df = pd.read_csv("../data/starbucks.csv")
df

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,frappuccino blended crme,strawberries crme (without whipped cream),Soymilk,320,3.2,0.4,0.0,0,250,67,1,64,5.0,6,8,20,10.0,0.0
238,frappuccino blended crme,vanilla bean (without whipped cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6,0,10,0.0,0.0
239,frappuccino blended crme,vanilla bean (without whipped cream),Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6,0,10,0.0,0.0
240,frappuccino blended crme,vanilla bean (without whipped cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4,0,10,6.0,0.0
241,frappuccino blended crme,vanilla bean (without whipped cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8,0,15,0.0,0.0

In [22]:
# select all rows with more than and including 400 calories
over400Cals = df[df['calories'] >= 400]

In [23]:
# select all rows whose vitamin c content is higher than the iron content
CMoreThanIron = df[df['vitamin c'] > df['iron'] ]

In [25]:
# create a new column containing the caffeine per calories of each drink
df['Caffeine Per Calorie'] = df['caffeine'] / df['calories']

In [26]:
# what is the average calorie across all items?
avg = df['calories'].mean()

In [27]:
# how many different categories of beverages are there?
num_categories = df['beverage_category'].nunique()
print(num_categories)

9

In [33]:
# what is the average # calories for each beverage category?
unique_categories = df['beverage_category'].unique()
print(unique_categories)

average_calories_by_category = df.groupby('beverage_category')['calories'].mean()
print(average_calories_by_category)

['coffee' 'classic espresso drinks' 'signature espresso drinks'
 'tazo tea drinks' 'shaken iced beverages' 'smoothies'
 'frappuccino blended coffee' 'frappuccino light blended coffee'
 'frappuccino blended crme']
beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64